RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(css|js|png|jpg|gif)$ - [L]
RewriteCond %{REQUEST_URI} -f
RewriteCond %{REQUEST_URI} !\.(php|phtml)$
RewriteRule ^(.*)$ $1 [L,QSA]

RewriteRule ^(.*)$ index.php [L,QSA]